body{
    background-color:#30C6B0!important;
}
body.shop #shopHeader nav{
    border:none!important;
}

    div.zp_header{
        background:#00B59F;
        text-align:center;
        padding:25px 50px;
    }

    div.zp_header img.shoplogo{
        width: 45%;
        max-width: 500px;        
        min-width: 350px;
    }

    div.zp_header_menu{
        background:#00B59F;
        text-align:center;
        padding:15px 0px;
    }

    div.zp_header_menu ul li{
        display: inline-block;
    }
    div.zp_header_menu ul a li{
        color:#ffffff;
        font-size:18px;
        padding:10px;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    div.zp_header_menu ul a:hover li{
        color:#CCCCCC;
    }








    .wave-background {
      position: relative;
      width: 100%;
      height: 100vh;
      /* 上が青、下が赤 */
      background: linear-gradient(to bottom, #0000ff 0%, #0000ff 50%, #ff0000 50%, #ff0000 100%);
      overflow: hidden;
    }
    .wave {
      position: absolute;
      bottom: 50%;
      width: 200%;
      height: 200%;
      /* 波のSVGを背景に使用（白で、透明度を持たせて背景色が透けるように） */
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23ffffff" fill‑opacity="0.4" d="M0,160L120,170C240,180,360,140,480,160C600,180,720,120,840,160C960,200,1080,140,1200,160C1320,180,1440,160L1440,320L0,320Z"/></svg>') repeat‑x;
      background-size: cover;
      /* 各波の揺れを滑らかに */
      animation‑timing-function: ease‑in‑out;
    }
    .wave1 {
      animation: waveAnim1 6s infinite alternate;
      opacity: 0.6;
    }
    .wave2 {
      animation: waveAnim2 8s infinite alternate‑reverse;
      opacity: 0.4;
    }
    .wave3 {
      animation: waveAnim3 10s infinite alternate;
      opacity: 0.3;
    }

    @keyframes waveAnim1 {
      0%   { transform: translateX(0%)   translateY(0px)   skewX(0deg); }
      25%  { transform: translateX(-10%) translateY(20px)  skewX(-1deg); }
      50%  { transform: translateX(-20%) translateY(-10px) skewX(1deg); }
      75%  { transform: translateX(-10%) translateY(30px)  skewX(-0.5deg); }
      100% { transform: translateX(0%)   translateY(0px)   skewX(0deg); }
    }
    @keyframes waveAnim2 {
      0%   { transform: translateX(0%)   translateY(0px)   skewX(0deg); }
      25%  { transform: translateX(-15%) translateY(-15px) skewX(1deg); }
      50%  { transform: translateX(-30%) translateY(10px)  skewX(-1deg); }
      75%  { transform: translateX(-15%) translateY(-25px) skewX(0.5deg); }
      100% { transform: translateX(0%)   translateY(0px)   skewX(0deg); }
    }
    @keyframes waveAnim3 {
      0%   { transform: translateX(0%)   translateY(0px)   skewX(0deg); }
      25%  { transform: translateX(-8%)  translateY(10px)  skewX(-0.8deg); }
      50%  { transform: translateX(-16%) translateY(-20px) skewX(0.8deg); }
      75%  { transform: translateX(-8%)  translateY(15px)  skewX(-0.4deg); }
      100% { transform: translateX(0%)   translateY(0px)   skewX(0deg); }
    }






body#shopTopPage #mainContent div.item1box{
    display:block;
    box-sizing: border-box;
    margin:0px;
    padding:15px 18px;
    width:calc(100% / 3);
    overflow-wrap: break-word;
}

div.item1box:nth-child(2n){
    background:#B3E2D9;
}
div.item1box:nth-child(2n-1){
    background:#FFFFFF;
}



div.item1box_imgbox{
    width:100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom:15px;
}

div.item1box_imgbox .image-resize{
    width:100%;
}



div.soldout_cover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    filter: alpha(opacity=80);
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    zoom: 1;
    font-weight:700;
    font-size:24px;
    color:#01B5A0;
}



div.item1box div.itemTitle h2{
    font-size:110%;
    font-weight:100;
}


div.item1box ul.itemDetail li.itemPrice{
    font-size:140%;
        
}

