body{
    background-color:#30C6B0!important;
}
body.shop #shopHeader nav{
    border:none!important;
}

    div.zp_header{
        background:#00B59F;
        text-align:center;
        padding:25px 50px;
    }

    div.zp_header img.shoplogo{
        width: 45%;
        max-width: 500px;        
        min-width: 250px;
    }

    div.zp_header_menu{
        background:#00B59F;
        text-align:center;
        padding:15px 0px 0px 0px;
    }

    div.zp_header_menu ul li{
        display: inline-block;
    }
    div.zp_header_menu ul a li{
        color:#ffffff;
        font-size:18px;
        padding:10px;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    div.zp_header_menu ul a:hover li{
        color:#CCCCCC;
    }





.wave {
  --mask:
    radial-gradient(72.11px at 50% calc(100% - 100px),#000 99%,#0000 101%) calc(50% - 80px) 0/160px 100%,
    radial-gradient(72.11px at 50% calc(100% + 60px),#0000 99%,#000 101%) 50% calc(100% - 40px)/160px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}




body#shopTopPage #mainContent div.item1box{
    display:block;
    box-sizing: border-box;
    margin:0px;
    padding:15px 18px;
    width:calc(100% / 3);
    overflow-wrap: break-word;
}

div.item1box:nth-child(2n){
    background:#B3E2D9;
}
div.item1box:nth-child(2n-1){
    background:#FFFFFF;
}



div.item1box_imgbox{
    width:100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom:15px;
}

div.item1box_imgbox .image-resize{
    width:100%;
}



div.soldout_cover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    filter: alpha(opacity=80);
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    zoom: 1;
    font-weight:700;
    font-size:24px;
    color:#01B5A0;
}



div.item1box div.itemTitle h2{
    font-size:110%;
    font-weight:100;
}


div.item1box ul.itemDetail li.itemPrice{
    font-size:140%;
        
}

