body{
    background-color:#30C6B0!important;
}
body.shop #shopHeader nav{
    border:none!important;
}

div.zp_header{
	background:#00B59F;
	text-align:center;
	padding:25px 50px;

}


    div.zp_header img.shoplogo{
        width: 45%;
        max-width: 500px;        
        min-width: 250px;
    }

    div.zp_header_menu{
			position: relative;
        background:#00B59F;
        text-align:center;
        padding:15px 0px 0px 0px;
    }

div.zp_header_menu::after{
	content: "";
	width: 100%;
	height: 130px;
	position: absolute;
	bottom: -0.3%;
	left: 0;
	background-size: auto;
	background-repeat: repeat no-repeat;
	background-position: 0vw bottom;
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 108' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 18L33 15C82 10 133 12 200 24C267 36 333 54 400 57C467 60 533 48 600 33C667 18 733 0 800 0C867 0 933 18 1000 24C1067 30 1133 24 1167 21L1200 18V108H1167C1133 108 1067 108 1000 108C933 108 867 108 800 108C733 108 667 108 600 108C533 108 467 108 400 108C333 108 267 108 200 108C133 108 67 108 33 108H0V22.332Z' fill='%2330c6b0'/></svg>");
}

@media(max-width:850px) {
  .wave-container::after {    
    height: 65px
  }  
}

    div.zp_header_menu ul li{
        display: inline-block;
    }
    div.zp_header_menu ul a li{
        color:#ffffff;
        font-size:18px;
        padding:10px;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    div.zp_header_menu ul a:hover li{
        color:#CCCCCC;
    }











body#shopTopPage #mainContent div.item1box{
    display:block;
    box-sizing: border-box;
    margin:0px;
    padding:15px 18px;
    width:calc(100% / 3);
    overflow-wrap: break-word;
}

div.item1box:nth-child(2n){
    background:#B3E2D9;
}
div.item1box:nth-child(2n-1){
    background:#FFFFFF;
}



div.item1box_imgbox{
    width:100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom:15px;
}

div.item1box_imgbox .image-resize{
    width:100%;
}



div.soldout_cover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    filter: alpha(opacity=80);
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    zoom: 1;
    font-weight:700;
    font-size:24px;
    color:#01B5A0;
}



div.item1box div.itemTitle h2{
    font-size:110%;
    font-weight:100;
}


div.item1box ul.itemDetail li.itemPrice{
    font-size:140%;
        
}

