body{
    background-color:#00B59F!important;
}
body.shop #shopHeader nav{
    border:none!important;
}

    div.zp_header{
        background:#00B59F;
        text-align:center;
        padding:25px 50px;
    }

    div.zp_header img.shoplogo{
        width: 45%;
        max-width: 500px;        
        min-width: 350px;
    }

    div.zp_header_menu{
        background:#00B59F;
        text-align:center;
        padding:15px 0px;
    }

    div.zp_header_menu ul li{
        display: inline-block;
    }
    div.zp_header_menu ul a li{
        color:#ffffff;
        font-size:18px;
        padding:10px;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    div.zp_header_menu ul a:hover li{
        color:#CCCCCC;
    }





body#shopTopPage #mainContent div.item{
    background:#FFFFFF;
    margin:0px;
    padding:15px 18px;
}
