body{
    background-color:#30C6B0!important;
}
body.shop #shopHeader nav{
    border:none!important;
}

div.zp_header{
	background:#00B59F;
	text-align:center;
	padding:25px 50px;

}


    div.zp_header img.shoplogo{
        width: 45%;
        max-width: 500px;        
        min-width: 250px;
    }

    div.zp_header_menu{
        background:#00B59F;
        text-align:center;
        padding:15px 0px 0px 0px;
    }




    div.zp_header_menu ul li{
        display: inline-block;
    }
    div.zp_header_menu ul a li{
        color:#ffffff;
        font-size:18px;
        padding:10px;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    div.zp_header_menu ul a:hover li{
        color:#CCCCCC;
    }







.wave-container {  
  height: 90px;
  background-color: #01b5a0;
  position: relative;
}

.wave-container::before {   
  content: "";
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 0vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 87' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 14L33 12C82 8 133 9 200 19C267 29 333 43 400 45C467 48 533 38 600 26C667 14 733 0 800 0C867 0 933 14 1000 19C1067 24 1133 19 1167 16L1200 14V87H1167C1133 87 1067 87 1000 87C933 87 867 87 800 87C733 87 667 87 600 87C533 87 467 87 400 87C333 87 267 87 200 87C133 87 67 87 33 87H0V22.332Z' fill='%2330c6b0'/></svg>");
}

@media(max-width:850px) {
  .wave-container::before {    
    height: 45px
  }  
}







body#shopTopPage #mainContent div.item1box{
    display:block;
    box-sizing: border-box;
    margin:10px;
    padding:15px 18px;
	border-radius:10px;
    width:calc((100% / 3) - 20px);
    overflow-wrap: break-word;
}

div.item1box:nth-child(2n){
    background:#B3E2D9;
}
div.item1box:nth-child(2n-1){
    background:#FFFFFF;
}



div.item1box_imgbox{
    width:100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom:15px;
}

div.item1box_imgbox .image-resize{
    width:100%;
}



div.soldout_cover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    filter: alpha(opacity=80);
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    zoom: 1;
    font-weight:700;
    font-size:24px;
    color:#01B5A0;
}



div.item1box div.itemTitle h2{
    font-size:110%;
    font-weight:100;
}


div.item1box ul.itemDetail li.itemPrice{
    font-size:180%;
    bottom: 0;
}

