body{
    background-color:#00B59F!important;
}
body.shop #shopHeader nav{
    border:none!important;
}

    div.zp_header{
        background:#00B59F;
        text-align:center;
        padding:25px 50px;
    }

    div.zp_header img.shoplogo{
        width: 45%;
        max-width: 500px;        
        min-width: 350px;
    }

    div.zp_header_menu{
        background:#00B59F;
        text-align:center;
        padding:15px 0px;
    }

    div.zp_header_menu ul li{
        display: inline-block;
    }
    div.zp_header_menu ul a li{
        color:#ffffff;
        font-size:18px;
        padding:10px;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    div.zp_header_menu ul a:hover li{
        color:#CCCCCC;
    }








.wave-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #00f 50%, #f00 50%);
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 50%;
  width: 200%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23ffffff" fill-opacity="0.5" d="M0,160L120,170C240,180,360,140,480,160C600,180,720,120,840,160C960,200,1080,140,1200,160C1320,180,1440,160L1440,320L0,320Z"/></svg>') repeat-x;
  background-size: cover;
}

/* 波1 */
.wave1 {
  animation: wave1Anim 6s ease-in-out infinite;
}

/* 波2（位相をずらす） */
.wave2 {
  animation: wave2Anim 8s ease-in-out infinite;
}

@keyframes wave1Anim {
  0% { transform: translateX(0) translateY(0); }
  25% { transform: translateX(-40px) translateY(20px); }
  50% { transform: translateX(-80px) translateY(0); }
  75% { transform: translateX(-40px) translateY(-20px); }
  100% { transform: translateX(0) translateY(0); }
}

@keyframes wave2Anim {
  0% { transform: translateX(0) translateY(0); }
  25% { transform: translateX(-30px) translateY(-15px); }
  50% { transform: translateX(-60px) translateY(0); }
  75% { transform: translateX(-30px) translateY(15px); }
  100% { transform: translateX(0) translateY(0); }
}






body#shopTopPage #mainContent div.item1box{
    display:block;
    box-sizing: border-box;
    margin:0px;
    padding:15px 18px;
    width:calc(100% / 3);
    overflow-wrap: break-word;
}

div.item1box:nth-child(2n){
    background:#B3E2D9;
}
div.item1box:nth-child(2n-1){
    background:#FFFFFF;
}



div.item1box_imgbox{
    width:100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom:15px;
}

div.item1box_imgbox .image-resize{
    width:100%;
}



div.soldout_cover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    filter: alpha(opacity=80);
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    zoom: 1;
    font-weight:700;
    font-size:24px;
    color:#01B5A0;
}



div.item1box div.itemTitle h2{
    font-size:110%;
    font-weight:100;
}


div.item1box ul.itemDetail li.itemPrice{
    font-size:140%;
        
}

